input[type=checkbox] {
  display: none;
}

label {
  position: relative;
  display: block;
}

label:after {
  content: "+";
  position: absolute;
  right: 1em;
}

input:checked+label:after {
  content: "-";
}

input:checked~.tab-content {
  display: block;
}

.accordion {
  width: 500px;
  box-shadow: 2px 2px #83838323;
  border-radius: 5px;
}

.accordion-tab {
  text-align: center;
  vertical-align: middle;
}

.tab-label {
  height: 50px;
  border-radius: 5px;
  background-color: lightgrey;
}

.tab-content {
  display: none;
  border-width: 1px;
  border-color: black;
}